<app-menu></app-menu>
<div>
    <input [(ngModel)]="name" type="text">
    <button (click)="copyName()">Copy</button>
    <label>{{copiedName}}</label>
</div>
<div>
    <input [disabled]= "statusDisabled" type="text" id="requestStatus" value="NEW">
    <input [disabled]= "!statusDisabled" type="text" id="requestStatus" value="NEW">
    <!-- <button (click)= "toggleImage()">Toggle</button> -->
</div>
<input [hidden]="showPassword" type="password" value="ABC">
<input [hidden]= "!showPassword" type="text" value="ABC">